{
  "extends": "ascribe-react",
  "rules": {
    "react/jsx-no-target-blank": 0,
    "react/prefer-es6-class": "always",
    "max-len": 0,
    "jsx-a11y/img-has-alt": 1,
    "jsx-a11y/onclick-has-focus": 0
  }
}
