{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-bigchaindb",
    "stylelint-config-styled-components"
  ],
  "rules: {
    "indentation": 2,
  },
  "syntax": "scss"
}
