{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-bigchaindb",
    "stylelint-config-styled-components"
  ],
  "syntax": "scss",
  "rules": {
      "no-descending-specificity": null
  }
}
