
:root {
    --font-family-base: 'tablet-gothic', sans-serif;
    --font-family-headings: 'gineso', 'tablet-gothic', sans-serif;
    --color-01: #008996;
    --color-02: #0099A9;
    --color-03: #1BCAD4;
    --color-04: #84DADF;
    
    --color-gray-01: #98999B;
    --color-gray-02: #898B8E;
    --color-gray-03: #54565B;
    --color-gray-04: #231F20;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wf-loading .hero .row,
.wf-loading .section .row {
    transition: .15s ease-out;
    opacity: 0;
}

.wf-active .hero .row,
.wf-active .section .row,
.wf-inactive .hero .row,
.wf-inactive .section .row {
    opacity: 1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    color: var(--color-gray-03);
    font-size: 1rem;
    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.5;
}

.row {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


/*
    STANDARD ELEMENTS 
    -------------------------------------------------------
*/

h1, h2, h3 {
    font-family: var(--font-family-headings);
    font-weight: 600;
    color: var(--color-01);
    line-height: 1.2;
}

p {
    margin: 0 0 1rem;
}

a {
    color: var(--color-03);
    text-decoration: none;
    transition: .15s ease-out;
    display: inline-block;
}

    a:hover,
    a:focus {
        color: var(--color-02);
        transform: translateY(-1px);
    }
    
    a:active {
        transition: none;
        transform: none;
    }

strong {
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}


/*
    BUTTONS 
    -------------------------------------------------------
*/

.button {
    font-family: var(--font-family-headings);
    font-weight: 600;
    display: block;
    width: 100%;
    padding: .75rem 2rem;
    border-radius: .4rem;
    background: var(--color-03);
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    margin: 0;
    box-shadow: 0 7px 10px rgba(0, 0, 0, .1);
    outline: 0;
    font-size: 1.2rem;
    line-height: 1;
    transition: .15s ease-out;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
}

    .button:hover,
    .button:focus {
        background: var(--color-02);
        color: #fff;
        transform: translateY(-1px);
        box-shadow: 0 7px 20px rgba(0, 0, 0, .1);
        outline: 0;
    }
    
    .button:active {
        transition: none;
        transform: none;
        outline: 0;
    }
    
    @media (min-width: 25rem) {
        .button {
            display: inline-block;
            width: auto;
        }
    }


/*
    FORMS 
    -------------------------------------------------------
*/

.form {
    padding-top: 3rem;
}

.form__label {
    user-select: none;
    display: block;
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: .25rem;
}

.form__control {
    display: block;
    width: 100%;
    max-width: 100%;
    appearance: none;
    padding: .75rem;
    border-radius: .4rem;
    margin: 0;
    font-size: 1rem;
    font-family: var(--font-family-base);
    font-weight: 600;
    color: var(--color-01);
    background: rgba(255, 255, 255, .95);
    box-shadow: 0 7px 10px rgba(0, 0, 0, .1);
    border: 1px solid transparent;
    transition: .15s ease-out;
}

    .form__control::placeholder {
        color: var(--color-01);
        opacity: .5;
    }

    .form__control:focus {
        outline: 0;
        border-color: var(--color-04);
        background: #fff;
        transform: translateY(-2px);
    }
    
    /* Form Validation States */
    .form__control:valid:not(:focus):not(:placeholder-shown) {
        border-color: #01FF70;
    }
    .form__control:invalid:not(:focus):not(:placeholder-shown),
    .form__control.error {
        border-color: #FF4136;
        color: #FF4136;
    }
    .form__label.valid {
        color: #01FF70;
        text-transform: none;
        font-size: 1.2rem;
    }
    .form__label.error {
        color: #FF4136;
        text-transform: none;
    }

.input-group {
    
}

    .input-group .button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: block;
        width: 100%;
    }

    .input-group .form__control {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .input-group .form__control:focus + .button {
        transform: translateY(-2px);
    }
    
    .input-group .button,
    .input-group .button:hover,
    .input-group .button:focus {
        transform: none;
    }
    
    @media (min-width: 30rem) {
        .input-group {
            display: flex;
        }
        
        .input-group .form__control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: .4rem;
            border-right: 0;
        }
        
        .input-group .button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: .4rem;
            width: auto;
            display: inline-block;
        }
    }


.icon {
    fill: var(--color-03);
    stroke: none;
    width: .75rem;
    height: .75rem;
    vertical-align: baseline;
    margin-bottom: -.1rem;
}

/*
    HERO 
    -------------------------------------------------------
*/

.hero {
    text-align: center;
    height: 100vh;
    min-height: 500px;
    max-height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    background: url('img/hero.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

    .hero:before {
        content: '';
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        display: block;
        background: #fff;
        opacity: .8;
        z-index: 0;
    }
    
    .hero .row {
        position: relative;
        z-index: 1;
        max-width: none;
    }

.hero__logo {
    margin-bottom: 3rem;
    width: 10rem;
    height: 10rem;
}

.hero__title,
.hero__tagline {
    width: 100%;
}

.hero__title {
    font-size: 2.7rem;
    margin-bottom: .25rem;
    margin-top: 0;
}

@media (min-width: 40rem) {
    font-size: 4rem;
}

.hero__tagline {
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 3rem;
    color: var(--color-02);
}

@media (min-width: 40rem) {
    font-size: 2.5rem;
}

.wf-active .hero__logo,
.wf-inactive .hero__logo,
.wf-active .hero__title,
.wf-inactive .hero__title,
.wf-active .hero__tagline,
.wf-inactive .hero__tagline,
.wf-active .hero__cta,
.wf-inactive .hero__cta {
    animation: slide-in-from-bottom .8s cubic-bezier(0, 1.02, .32, 1.34) backwards;
}

.wf-active .hero__logo,
.wf-inactive .hero__logo {
    
}

.wf-active .hero__title,
.wf-inactive .hero__title {
    animation-delay: .4s;
}

.wf-active .hero__tagline,
.wf-inactive .hero__tagline {
    animation-delay: .5s;
}

.wf-active .hero__cta,
.wf-inactive .hero__cta {
    animation-delay: .8s;
}

@keyframes slide-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*
    SECTIONS 
    -------------------------------------------------------
*/

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.section__title {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: .75rem;
}

.section__description {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 2rem;
    color: var(--color-02);
}

.section--wrigleygang {
    background: var(--color-04);
    color: var(--color-01);
}

    .section--wrigleygang a {
        color: inherit;
        text-decoration: underline;
    }

.wrigleygang {
    margin-top: 1rem;
    margin-bottom: 0;
}

.wrigleygang__logos {
    display: flex;
    justify-content: space-around;
}

    .wrigleygang__logos a:hover .logo-wrigleygang {
        fill: var(--color-02);
        color: var(--color-02);
        opacity: 1;
    }

.logo-wrigleygang {
    fill: var(--color-01);
    color: var(--color-01);
    width: 7rem;
    height: 2rem;
    opacity: .5;
}

.section--notify {
    background: var(--color-01);
    color: var(--color-04);
}

    .section--notify .section__title,
    .section--notify .section__description {
        color: var(--color-04);
    }

    .section--notify .row {
        width: 100%;
    }
    
    .section--notify .form__label.error {
        color: #ff8e87;
    }
    
    .section--notify .form__label.error a {
        text-decoration: underline;
        color: #fff;
    }


/*
    FOOTER 
    -------------------------------------------------------
*/

.footer {
    color: var(--color-gray-01);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

    .footer .logo {
        width: 4rem;
        height: 4rem;
        display: block;
        margin: auto;
    }
    
    .footer .name {
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }
    
    .footer a {
        text-decoration: none;
        margin: 0 1rem;
    }
    
    .footer .copyright {
        margin-top: 3rem;
        margin-bottom: 0;
    }
    
    .footer .icon {
        margin-right: .15rem;
    }
